@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define the light theme using Material 3 theming
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$rose-palette,
  )
));

// Define the dark theme using Material 3 theming
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$rose-palette,
  )
));

// Apply the light theme by default
html {
  @include mat.all-component-themes($light-theme);
}

// Dark theme class
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
